/*
	$Revision: 1.17 $
	Check-In $Date: 2013/03/12 17:09:43 $
*/
/*
	START: print.css
*/
/* Place all print related styles here */


/*
	Print styles for the basegrid
*/
html, #pxc-all {width:100%;}
.pxc-no-print {display:none;}
#pxc-funcnav, #pxc-corpnav, #pxc-mainnav, .pxc-qsrch {display:none;} /* Functional navigation (including country-selector), corporate navigation, the expandable mainnavigation and the top right search-box should not be printed */
.pxc-grid-31 {display:none;} /* This is the grid used for expample for the footer which should not be printed */
.pxc-brand {background:transparent; width:auto;}
.pxc-brand a {margin:0 0 0 15px;}
#pxc-bcrumb {padding:10px 0 0 0 !important; border:none;}
#pxc-bcrumb li {padding:9px 10px 9px 0 !important; background: none !important;}
#pxc-bcrumb li a.pxc-bcrumb-lnk, #pxc-bcrumb li.pxc-1st a, #pxc-bcrumb li span {margin-right:0px; padding:0 9px 0 0!important; border-right:solid 1px #ccc;background:none;}
#pxc-bcrumb li span {border-right:none; display: none;}

/* do not show right column in print (TODO: to be clarified by Mr. Loeblich)*/
/*
.pxc-grid-4 {width:100%;}
.pxc-grid-5 {display:none;}
*/

/*
	CMS related print styles
*/

/* the links with background-images need a replacement with list-style-images, so that they can be printed */
.pxc-benefit li {background:none; padding-left:0px; list-style-type:none; list-style-image:url("ico_benefit.png"); margin-left:30px;}
/* go to top links should not be printed */
.pxc-lnk-top {display:none;}
.pxc-cnt h2 {clear:both;}

.pxc-grid-5 {clear:both; float:left; display:block; overflow-x:visible; *zoom:1; *float:none;} /* print the contact teaser under content area */
.pxc-grid-5 .pxc-p-boxed, .pxc-design-pt-alt-teaser-area {display:none;} /* do not print marginal teasers */
.pxc-grid-5 .pxc-contact {display:block !important; } /* only marginal teaser which should be printed */

.pxc-grid-6 {display:none;} /* do not print promotion teaser that are placed within the bottom of a page */

.pxc-cnt h1, .pxc-cnt h2 {page-break-before: auto;}
.pxc-cnt p {page-break-inside: avoid;}

.pxc-mod-main-stage-subpage .pxc-stg-txtbox {_right:31px;}

/* Store and product  related print styles */
.pxc-grid-4 {width:100%; overflow:visible;}
@media print and (-webkit-min-device-pixel-ratio:0) {.pxc-grid-4, #pxc-bcrumb {width:820px;}} /* Chrome only */
@-moz-document url-prefix() {.pxc-grid-4, #pxc-bcrumb {width:630px;}} /* FF only */
.dijitContentPane {overflow:visible;}
.pxc-lnk-back {display:none;}
.pxc .dijitTabListWrapper {left:0px;}
.pxc-pd-tabs {border:none !important; width:100%;}
.pxc-tabouterpane {border-top:1px solid #CCD0D2 !important;}
.pxc-pd-tabs h2 {min-width:0;}
.pxc-pd-tabs a {color:#999 !important; border-color:#e3e3e3 !important;}
.pxc-pd-tabs a.pxc-tab-on {color:#000 !important; border-color:#CCD0D2 !important;}
.pxc-prod-detail .pxc-prod-detail-rightcol {width:465px; overflow: auto;}
.pxc-tea-carousel-4col {width:auto;}
.pxc-hor-tbar {overflow:visible !important; height:auto;}
.pxc-hor-tbar .pxc-p-boxed, .pxc-tea-prod-rec-4col .pxc-tea-wrp {float:left;width:530px; clear:both; overflow:visible;}
.pxc-hor-tbar .pxc-newsevents, .pxc-hor-tbar .pxc-tea-1col {width:188px;}
.pxc-hor-tbar .pxc-p-boxed {margin-bottom:10px; padding-bottom:10px;}
.pxc-tea-carousel  {height:auto; width:auto; overflow:visible;}
.pxc-tea-carousel .pane {height:auto; position:relative !important; display:block !important;}
.pxc-benefit li {list-style: disc;}

/* do not print buttons */
.pxc-btn, button.pxc-btn, .pxc-prod-detail .pxc-btn-price-wrp .pxc-btn, .pxc-btn-pa {display:none;}

/* Fix #5373 Chrome < V18 garbles web fonts during printing. See global JS, where the dection and CSS setting is done */
.pxc_b_chrome_lt_18 h1, .pxc_b_chrome_lt_18 h2, .pxc_b_chrome_lt_18 .pxc-prod-detail .pxc-price-wrp .pxc-price, .pxc_b_chrome_lt_18 .pxc-grandtotal .pxc-totals .pxc-total-large, .pxc_b_chrome_lt_18 .pxc-rtxt cite, .pxc_b_chrome_lt_18 .pxc-contact .tel {font-family: verdana,arial,helvetica,sans-serif;}

/* Fix #5376 Opera was showing background image artifacts */
.dj_opera #pxc-bcrumb li a.pxc-bcrumb-lnk, .dj_opera ul.pxc-bcrumb-l a.pxc-bcrumb-lnk, .dj_opera #pxc-bcrumb li, .dj_opera ul.pxc-bcrumb-l li {background-image: none !important;}

/* Application related print styles */


/*
	END: print.css
*/