
thead .sorter-false {
	background-image: none;
	cursor: default;
	padding: 4px;
}

.tablesorter-header {
	/* image */
	background-image: url(../images/double-arrow.gif);
	background-repeat: no-repeat;
	background-position: center right;
	padding: 4px 18px 4px 4px;
	white-space: normal;
	cursor: pointer;
}
.headerSortUp,
.tablesorter-headerSortUp,
.tablesorter-headerAsc {
	/* image black asc arrow */
	background-image: url(../images/asc-arrow.gif);
}
.headerSortDown,
.tablesorter-headerSortDown,
.tablesorter-headerDesc {
	/* image black desc arrow */
	background-image: url(../images/desc-arrow.gif);
}
