
div.pxc-div-css-table-vm-align{
 display: table;
 vertical-align: middle;
}

.pxc-div-css-table-vm-align div{
 display: table-cell;
 vertical-align: middle;
}

.pxc-div-css-table-vm-align div button.pxc-btn-pa{
 bottom: 0px;
 top: 0px;
 left: 10px;
 right: 10px;
}

.pxc-div-css-table-vm-align div span{
 margin-bottom: 0px;
 margin-top: 0px;
 margin-left: 3px;
 margin-right: 0px;
 vertical-align: middle;
}

td.pxc-div-css-table-vm-align {
 padding-bottom: 3px;
 padding-top: 3px;
}

.pxc-div-css-table-vm-align div button.pxc-btn-edit {
    margin-left: 3px;
}

.pxc-div-css-table-vm-align div button.pxc-btn-remove {
    margin-left: 3px;
}

table.pxc-tbl-ntp-config tr td {
    vertical-align: middle;
}
