# This udev rule runs the Swap script when the SD card is inserted and the PLC startup process is finished, (when mmcblk0p1 is 'inserted')
ACTION=="change", KERNEL=="mmcblk0p1", RUN+="/bin/touch /var/volatile/tmp/change_flag_set"
ACTION=="add", KERNEL=="mmcblk1p1", PROGRAM=="/bin/sh -c 'test -f /var/volatile/tmp/change_flag_set && echo 1'", RESULT=="1", RUN+="/opt/plcnext/Swap.sh"
