.led {
  height: 10px;
  width: 10px;
  background-color: #808080;
  border-radius: 50%;
  display: inline-block;
  box-shadow: #6B6B6B 0 -1px 3px 1px;
}

.led-red {
    background-color: #FF0000;
    box-shadow: #CE0000 0 -1px 3px 1px;
}

.led-yellow {
    background-color: #FFFF00;
    box-shadow: #DDD056 0 -1px 3px 1px;
}

.led-green {
    background-color: #80FF00;
    box-shadow: #61BC00 0 -1px 3px 1px;
}

.cockpit-container {
    width: 94%;
    display:inline-block;
    position: relative;
    left: 0%;
}

.container-header
{
    text-align: center;
    min-height: 20px;
}

.container-header span
{
    font-weight: bold;
    min-height: 12px;
    font-size:11pt;
    color: #22969E;
} 

.cockpit-container.collapsed {
     min-height: 20px;
}

.cockpit-container-collabsed {
    width: 94%;
    max-height: 26px;
    display:inline-block;
    position: relative;
    left: 0%;
}

.split {
  height: 100%;
  width: 49%;
  position: relative;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  display: inline-block;
}

.left-half {
  left: 0;
}

.right-half {
  right: 0;
  margin-left: auto;
  margin-right: 0;
  float: right;
}

.cockpit-progress
{
    width: 60%;
    background-color: #F2F4F6;
    border: 2px solid #CCD0D2;
    display: inline-block;
    position: relative;
}

.cockpit-progress-container
{
    background-color: #0098A1;
    text-align: center;
    line-height: 30px;
    color: white;
    display: inline-block;
}


.cockpit-value-input
{
    line-height: 28px;
    width: 59.5%;
}

.cockpit-control-container
{
    display: inline-block;
    min-height: 36px !important;
    height: 36px !important;
}

.cockpit-control-btn
{
    top: 0px;
    margin-left: 5px;
}

@-moz-document url-prefix() {
  .cockpit-control-btn
    {
        top: -2px;
        margin-left: 5px;
    }
}

.progress-value
{
    position: absolute;
    right:8px;
    top: 8px;
    background-color: white;
    color: #0098A1;
}

.cockpit-control-box
{
    position: relative;
    text-align: left;
    padding: 8px !important;
    padding-top: 12px !important;
}

.cockpit-control
{
    display: inline-block;
    width: 100%;
    max-height: 35px !important;
    height: 35px;
    
}

div.cockpit-control-container img
{
    width: 35px;
    height: 35px;
    top: -30px;
}

.cockpit-line-box
{
    position: relative;
    display: inline-block;
    padding-left: 20px;
}

.cockpit-vertical-line
{
    display:inline-block;
    height: 40px;
    width:1px;
    border:1px inset;
    background:#CCC;
    color: gray;
    left:10px;
    top: -37px;
    position: absolute;
    display: inline;
}

@-moz-document url-prefix() {
  .cockpit-vertical-line {
    top: -2px !important;
    transform: translate(-50%, -50%);
  }
}

.cockpit-control-element:hover:not([disabled]){
    background-color: #D4EEEF !important;
}

.cockpit-control-element:active:not([disabled]) {
    background-color: #7FCCD0 !important;
}

.cockpit-tooltip-text {
    background-color: #22969E;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: -16px;
    margin-left: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    width: auto;
    overflow: hidden; 
   text-overflow: ellipsis;
   white-space: nowrap;
   font-weight: bold;
}

.cockpit-element-header {
    display:inline-block;
    width: 155px;
}

/*.tooltip:hover:not([disabled]) .cockpit-tooltip-text {
    visibility: visible;
}*/
.tooltip:hover .cockpit-tooltip-text {
    visibility: visible;
}

.disabled
{
  pointer-events: none;
  opacity: 0.5;
  /*background: #CCC;*/
}